html {
    background-image: url('imgs/bg.gif');
    background-size: contain;
}
body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    overflow: hidden;
}

#main {
    width: 100dvw;
    height: 100dvh;
}

#main > img {
    object-fit: contain;
    max-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.tree-text {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 10%;
    left: 10%;
    width: 940px;
    max-width: 80%;
    margin: 0 auto;

    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
    justify-content: right;
    gap: 32px;
    font-family: 'Honk';
    color: rgb(255, 193, 193);
    font-size: 2rem;
}
.tree-text a {
    all: unset;
}
.tree-text > div {
    position: relative;
}
.tree-text > *:hover {
    font-size: 2.4rem;
    color: rgb(255, 223, 240);
}
.tree-text *:hover {
    cursor: pointer;
}

.header {
    max-width: 940px;
    margin: 0 auto;
    font-family: 'Honk';

    z-index: 10;
    position: absolute;
    top: 25%;
    right: 6%;
    left: 6%;
    text-align: left;
}

.header h1 {
    -webkit-user-select: none; 
    user-select: none;
    
    color: rgb(24, 3, 62);
    margin-right: auto;
    width: 300px;
    font-size: 7.2rem;
    font-weight: bold;
    line-height: 4rem;
}
.header h1:hover {
    color: rgb(31, 54, 135);
    cursor: pointer;
}


.tabs {
    margin-top: 36px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    gap: 48px;
    justify-content: right;
    align-items: center;
}
.tabs * {
    text-align: center;
    max-width: 300px;
    line-height: 2.2rem;
    font-size: 4rem;
    color: white;
    text-decoration: none;
}
.tabs a:hover {
    font-style: italic;
    transform: scale(1.1);
}

.desc {
    color: black;
    position: absolute;
    z-index: 30;
    top: 10%;
    right: 10%;
    left: 10%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: end;
}
.desc:hover {
    cursor: pointer;
}

.desc-text {
    font-family: 'Space Grotesk';
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 2px;
    padding: 18px 20px;
    max-width: 600px;
}
.desc-text:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
.desc-text a {
    font-weight: bold;
    text-decoration: none;
}

.back {
    z-index: 10;
    text-decoration: none;
    font-family: 'Rock 3D';
    position: absolute;
    top: -10px;
    left: 5%;

    color: rgb(194, 194, 194);
    font-size: 1.8rem;
    font-weight: bold;
}
.back:hover {
    transform: scale(1.04);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.root-header {
    max-width: 940px;
    height: 75%;
    margin: 0 auto;
    font-family: 'Honk';
    text-align: center;

    z-index: 10;
    position: relative;
    margin: 10px auto 0;
    padding: 0 5%;
}

.root-header h1 {
    color: rgb(255, 255, 255);
    font-size: 6rem;
    font-weight: bold;
    width: fit-content;
    max-width: 100%;
    margin: 20px auto 0;
}
.root-header h1:hover {
    font-style: italic;
}

.selector {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: stretch;
}
.selector div {
    flex-basis: 30%;
    flex-grow: 1;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 2rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.9);
}
.selector div:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.selector .active {
    color: black !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.projects {
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    
    font-family: 'Space Grotesk';
    gap: 10px;
    margin-top: 10px;
    max-height: 85%;
    overflow-y: auto;
}

.hidden {
    display: none;
}

.project {
    position: relative;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.5);

    display: flex;
    justify-content: space-evenly;
    gap: 14px;
    align-items: center;
}
.project:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(53, 96, 190, 0.9);
}

.thumbnail {
    position: relative;
    flex-basis: 30%;
    max-width: 140px;
}
.thumbnail img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    border-radius: 4px;
}

.info {
    flex-shrink: 1;
    flex-basis: 60%;
    max-width: 60%;
}

.title {
    font-family: 'Honk';
    font-size: 1.8rem;
    line-height: 1.6rem;
    margin-bottom: 6px;
}
.date {
    font-style: italic;
    font-size: 0.8rem;
}
.tags {
    display: inline-flex;
    overflow-x: auto;
    gap: 8px;
    padding: 10px 0;
    width: 100%;
}
.tags div {
    font-size: 1.1rem;
    flex: 1 1 auto;
    font-family: 'Honk';
    border: 1px solid rgb(153, 180, 255);
    border-radius: 4px;
    color: white;
    background-color: rgb(4, 4, 101);
    padding: 4px 8px;
    text-wrap-mode: nowrap;
}
.tags div:hover {
    opacity: 0.8;
}

.links {
    margin-top: 10px;
    display: flex;
    gap: 14px;
    justify-content: center;
}
.links a {
    color: inherit;
    transition: transform 0.2s ease-in-out;;
}
.links a:hover {
    transform: scale(1.05);
}
.links i {
    font-size: 1.4rem;
}

.designs {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    font-family: 'Space Grotesk';
    gap: 10px;
    margin-top: 10px;
    max-height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
}
.designs > div {
    position: relative;
    height: fit-content;
    width: fit-content;
    min-width: 240px;
    
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.5);

    display: inline-flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}
.designs > div:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(53, 96, 190, 0.9);
}

.design-thumb img {
    display: block;
    height: 38dvh;
    max-height: 400px;
    width: auto;
    max-width: 100%;
}
.designs .info {
    max-width: 240px;
}
.design-link {
    color: inherit;
    transition: transform 0.2s ease-in-out;;
}
.design-link:hover {
    transform: scale(1.05);
}



.flying-text {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 260px;

    font-family: 'Space Grotesk';
    text-align: center;
    font-size: 2.4rem;
    line-height: 2rem;
    z-index: 20;

    color: rgb(117, 255, 53);
    mix-blend-mode: exclusion;
    animation: fly 3s cubic-bezier(.18,.7,.3,1) forwards;
    filter: hue-rotate(0deg);
  }

  @keyframes fly {
    0% {
      transform:
        translate(-50%, -50%)
        translate(0px, 0px)
        scale(0.6)
        rotate(0deg);

      opacity: 0;
    }

    10% {
      opacity: 1;
      scale: 1;

      filter: blur(0px);
    }

    50% {
        opacity: 0.7;
    }

    100% {
      transform:
        translate(-50%, -50%)
        translate(var(--x), var(--y))
        scale(0.9)
        rotate(var(--rot));

      opacity: 0;

      filter: blur(1px);
    }
  }